<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <!-- 환경별 APP_LABEL 설정 -->
    <springProfile name="qa">
        <property name="APP_LABEL" value="haruUp-qa"/>
    </springProfile>
    <springProfile name="!qa">
        <property name="APP_LABEL" value="haruUp"/>
    </springProfile>

    <!-- 콘솔 출력 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Loki Appender (로컬/개인 서버 환경에서만 활성화) -->
    <springProfile name="!prod">
        <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
            <http>
                <url>http://${LOKI_HOST:-localhost}:3100/loki/api/v1/push</url>
            </http>
            <format>
                <label>
                    <pattern>app=${APP_LABEL},host=${HOSTNAME:-localhost},level=%level</pattern>
                </label>
                <message class="com.github.loki4j.logback.JsonLayout"/>
            </format>
        </appender>

        <appender name="LOKI_API" class="com.github.loki4j.logback.Loki4jAppender">
            <http>
                <url>http://${LOKI_HOST:-localhost}:3100/loki/api/v1/push</url>
            </http>
            <format>
                <label>
                    <pattern>app=${APP_LABEL},host=${HOSTNAME:-localhost},type=api,level=%level</pattern>
                </label>
                <message>
                    <pattern>%msg</pattern>
                </message>
            </format>
        </appender>

        <appender name="LOKI_SQL" class="com.github.loki4j.logback.Loki4jAppender">
            <http>
                <url>http://${LOKI_HOST:-localhost}:3100/loki/api/v1/push</url>
            </http>
            <format>
                <label>
                    <pattern>app=${APP_LABEL},host=${HOSTNAME:-localhost},type=sql,level=%level</pattern>
                </label>
                <message class="com.github.loki4j.logback.JsonLayout"/>
            </format>
        </appender>

        <appender name="LOKI_HTTP" class="com.github.loki4j.logback.Loki4jAppender">
            <http>
                <url>http://${LOKI_HOST:-localhost}:3100/loki/api/v1/push</url>
            </http>
            <format>
                <label>
                    <pattern>app=${APP_LABEL},host=${HOSTNAME:-localhost},type=http_client,level=%level</pattern>
                </label>
                <message class="com.github.loki4j.logback.JsonLayout"/>
            </format>
        </appender>

        <appender name="LOKI_BATCH" class="com.github.loki4j.logback.Loki4jAppender">
            <http>
                <url>http://${LOKI_HOST:-localhost}:3100/loki/api/v1/push</url>
            </http>
            <format>
                <label>
                    <pattern>app=${APP_LABEL},host=${HOSTNAME:-localhost},type=batch,level=%level</pattern>
                </label>
                <message class="com.github.loki4j.logback.JsonLayout"/>
            </format>
        </appender>

        <logger name="com.haruUp" level="INFO" additivity="false">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="LOKI"/>
        </logger>
        <logger name="API_LOG" level="INFO" additivity="false">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="LOKI_API"/>
        </logger>
        <logger name="org.hibernate.SQL" level="DEBUG" additivity="false">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="LOKI_SQL"/>
        </logger>
        <logger name="org.hibernate.orm.jdbc.bind" level="TRACE" additivity="false">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="LOKI_SQL"/>
        </logger>
        <logger name="p6spy" level="INFO" additivity="false">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="LOKI_SQL"/>
        </logger>
        <logger name="HTTP_CLIENT_LOG" level="INFO" additivity="false">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="LOKI_HTTP"/>
        </logger>
        <logger name="org.springframework.web.client" level="DEBUG" additivity="false">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="LOKI_HTTP"/>
        </logger>
        <logger name="org.springframework.http.client" level="DEBUG" additivity="false">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="LOKI_HTTP"/>
        </logger>
        <logger name="reactor.netty.http.client" level="DEBUG" additivity="false">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="LOKI_HTTP"/>
        </logger>
        <logger name="org.springframework.batch" level="INFO" additivity="false">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="LOKI_BATCH"/>
        </logger>
        <logger name="com.haruUp.ranking.batch" level="INFO" additivity="false">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="LOKI_BATCH"/>
        </logger>
        <logger name="com.github.loki4j" level="DEBUG" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="LOKI"/>
        </root>
    </springProfile>

    <!-- prod 환경 (Railway): 콘솔 로그만 사용 -->
    <springProfile name="prod">
        <logger name="com.haruUp" level="INFO" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>
        <logger name="API_LOG" level="INFO" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>
        <logger name="org.hibernate.SQL" level="DEBUG" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>
        <logger name="org.hibernate.orm.jdbc.bind" level="TRACE" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>
        <logger name="HTTP_CLIENT_LOG" level="INFO" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>
        <logger name="org.springframework.batch" level="INFO" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>
        <logger name="com.haruUp.ranking.batch" level="INFO" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

</configuration>
